@using Newtonsoft.Json;
@model string
@{

    var basketItems = JsonConvert.DeserializeObject<List<BasketItemViewModel>>(Model);
}

<ul>
    @foreach (var item in basketItems)
    {
        <li>
            @(JsonConvert.SerializeObject(item))
        </li>
    }
</ul>